@page
@model Site.Pages.User.LoginModel
@{
    ViewData["Title"] = "Авторизация";
    ViewData["NavBar"] = "false";
}

<br />
<h3>Авторизация</h3>

<form method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text my-input-header" id="basic-addon1">Email</span>
        </div>
        <input class="form-control my-input" type="email" name="email" value=@Model.Value.Email placeholder= "Введите email" required/>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text my-input-header" id="basic-addon1">Пароль</span>
        </div>
        <input class="form-control my-input" type="password" name="password" value="" placeholder="Введите пароль" pattern="[A-z0-9_]{6,256}"  required/>
    </div>         

    <button class="my-button" type="submit">Войти</button>
</form>

<br />
<br />
<br />
<div class="pt-lg-5"><a class="my-link" href="/user/registrationrecovery"><h6>Не помню пароль</h6></a></div>
<br />
<div class="mt-lg-3"><a class="my-link" href="/user/registration"><h6>Регистрация</h6></a></div>

